.episodes {
    display: flex;
    flex-direction: column;
  }

  .track {
    min-width: max-content;
    margin-bottom: .8rem;
    padding: .8rem 1rem;
    border-radius: 10px;
    border: 0;
    background: #462342;
    color: #fff;
    cursor: pointer;
  }
  .tracks {
    display: flex;
    flex-direction: column;
    gap: .8rem;

  }

  .episode:hover {
    background: #1Db954;
  }

  @media screen and (min-width: 860px) {
    body {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      background-color: #BEA7C4; 
      font-family: Arial, sans-serif;
      color: #333;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
  }

  #next-button {
    background-color: #62466B; /* Spotify Green */
    color: #fff; /* White text */
    border: none;
    border-radius: 50px; /* Rounded corners */
    padding: 10px 20px; /* Size */
    font-size: 16px; /* Text size */
    font-weight: bold; /* Bold text */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 150px;
  }
  
  #next-button:hover {
    background-color: #1aa34a; /* Darker green on hover */
    transform: scale(1.05); /* Slightly larger on hover */
  }
  
  #next-button:active {
    background-color: #62466B; /* Even darker green on click */
    transform: scale(0.95); /* Slightly smaller on click */
  }
  
  #message {
    font-size: 2em;
    white-space: pre;
    min-width: 10ch; /* Reserves space for at least 10 characters */
    text-align: center; /* Aligns the message in the center */
  }
.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centers the button */
}

  